.destination {
  max-width: 900px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 1000;
  color: #4D4D4D;
  font-size: xx-large;
  }
  
  .destination h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: inherit;
  }
  
  .destination img {
    max-height: 300px;
    max-width: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;

    border: 10px solid #ededed;
    padding: 0px;
  }
  
  .destination p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
    font-family: inherit;
  }
  
  .destination h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: inherit;
    color: #FFCC00;
  }
  
  .destination ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 100;
  }
  
  .destination li {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: inherit;
  }
  
  .destination h2:last-child {
    margin-bottom: 0;
  }
  