.songs {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    font-family: inherit;
    display: flex; /* Use flexbox */
    
  }

  .column1 {
    flex: 3;
  }

  .column2 {
    flex: 1;
    padding-left: auto;
    background-color: #4D4D4D;
    margin-left: 10px;
    border-radius: 10px;
    align-items: flex-start; /* Set the alignment to "flex-start" */

  }

  .column2 h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .songs h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .song-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .song-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .song-card p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .song-card .buttons {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
  }
  
  .song-card .vote-button,
  .song-card .play-button {
    padding: 8px 16px;
    font-size: 16px;
    font-family: inherit;
  }
  
  .song-card .vote-button {
    background-color: #FFCC00;
    color: white;
    border: none;
    font-family: inherit;
  }
  
  .song-card .play-button {
    background-color: #4D4D4D;
    color: white;
    border: none;
    font-family: inherit;
  }

  .playlist-card {
    padding: 20px;
    margin-bottom: 0px;
    background-color: #797878;
    margin: 4%;
    border-radius: 10px;
  }

  .playlist-card h3 {
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    color: white;
  }
  